<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台登录入口</title>
    <link rel="stylesheet" href="/layui/css/layui.css" >
    <link rel="stylesheet" href="/layui/css/modules/laydate/default/laydate.css">
    <link rel="shortcut icon" type="image/x-icon" href="http://www.lvmae.com/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="http://www.lvmae.com/skin/default/css/common.css?version=20170918" />
    <link rel="stylesheet" type="text/css" href="http://www.lvmae.com/skin/default/css/zzsc.css" />
    <link rel="stylesheet" href="/layui/css/layui.css" />
    <script src="/layui/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="/layui/layui.all.js"></script>
    <script src="/layui/layui.all.js" charset="UTF-8"></script>
    <script src="/layui/jquery-1.8.0.js"></script>
</head>
<body>
<ul class="layui-nav" lay-filter="">
    <li class="layui-nav-item"></li>
    <li class="layui-nav-item layui-this"></li>
    <li class="layui-nav-item"></li>
    <li class="layui-nav-item">
        绿蚂蚁物流交易平台
    </li>
    <li class="layui-nav-item"></li>
</ul>

<div class="layui-row layui-col-space10" backgroud>
    <div class="layui-col-md4">

    </div>
    <div class="layui-col-md3 ">
        <center style="margin-top: 17%">
            <form class="layui-form" action="" id="loginForm">
                <div class="layui-form-item">
                    <div class="layui-anim layui-anim-scaleSpring">
                    <img style="-webkit-user-select: none;" width="100px" height="100px" src="http://www.pmdaniu.com/storage/1106/9faf865d8f09bf2f897dbab7c74107b0-3145/images/%E7%99%BB%E5%BD%95%E5%85%A5%E5%8F%A3/u26.png">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">公司名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="phoneNumber" lay-size="10" placeholder="请输入公司名称" autocomplete="off" class="layui-input"    lay-verify="required"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">密码</label>
                    <div class="layui-input-inline">
                        <input type="password" name="password" lay-size="15" placeholder="请输入密码" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-label">
                    <div class="layui-input-block">
                        <input   type="button" onclick="comLogin()" class="layui-btn layui-btn-normal" value="登录"/>
                    </div>
                </div>
            </form>
        </center>
    </div>
    <div class="layui-col-md3">

    </div>
</div>


</body>
<script>
 /*   //登录
    function comLogin(){
        $("#loginForm").form('submit',{
            url:'comLogin',
            success:function(data){
                data = JSON.parse(data);
                if(data.code !=0){
                    $.messager.alert('提示',data.msg,'error');
                }else{
                    alert("haha")
                    /!*window.location.href="../page/toMain.do";*!/
                }
            }
        })
    }*/
/*$(function () {
    layer.open({
        type: 1,
        area: ['600px', '360px'],
        shadeClose: true, //点击遮罩关闭
        content: '\<\div style="padding:20px;">自定义内容\<\/div>'
    });
})*/

    function comLogin() {
        var from = $("#loginForm").serialize();
        $.ajax({
            url:"/comLogin",
            data:from,
            type:"post",
            success:function(data){
                if(data.code !=0){
                    $.messager.alert('提示',data.msg,'error');
                }else{
                    alert("haha")
                    /*window.location.href="../page/toMain.do";*/
                }
            }
        })
    }
</script>
</html>