<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>导出</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/layui/css/modules/laydate/default/laydate.css">
    <link rel="shortcut icon" type="image/x-icon" href="http://www.lvmae.com/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="http://www.lvmae.com/skin/default/css/common.css?version=20170918" />
    <link rel="stylesheet" type="text/css" href="http://www.lvmae.com/skin/default/css/zzsc.css" />
    <link rel="stylesheet" href="/layui/css/layui.css" />
    <script src="/layui/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="/layui/layui.all.js"></script>
    <script src="/layui/layui.all.js" charset="UTF-8"></script>
    <script src="/layui/jquery-1.8.0.js"></script>
    <script src="/layui/layui.js"></script>
    <script src="/layui/jquery.form.js"></script>

</head>
<body>
<ul class="layui-nav layui-bg-orange" lay-filter="">
    <li class="layui-nav-item layui-bg-orange">
        绿蚂蚁物流交易平台
    </li>
</ul>

<div class="layui-row layui-col-space10" style="margin-top:50px"  >
    <div class="layui-col-md6" style="background-color: #dddddd">
        <form method="post" enctype="multipart/form-data" id="poiForm">
            <table>
                <tr>
                    <input type="file" name="upfile" id="upfile">
                    <input   type="submit" id="btn" class="layui-btn layui-btn-normal" value="导入"/>
                </tr>
            </table>

        </form>
        <input   type="button" onclick="exportExcel()" class="layui-btn layui-btn-normal" value="导出excel表格"/>
        <table id="demo" lay-filter="test" class="fit:true"></table>
    </div>
    <div class="layui-col-md3" >

    </div>
    <div class="layui-col-md3" >

    </div>
</div>





</body>
<script>
    //导入
    $("#btn").click(function(){
        $("#poiForm").ajaxSubmit({
            url: "/enterPoi",
            dataType: 'text',
            success: function (data) {
                $("#upfile").val("");
                alert("成功导入Excel文件！")
            },
            error: function () {
                alert("导入Excel文件出错！")
            }
        })

    })
    //全选
    $("#exportBtn").click(function(){

        $("[name='chk']").prop("checked",true);
    })
    //导出
    function  exportExcel(){
        var chk=$("[name='chk']:checked");
        var ids="";
        for (var i=0;i<chk.length;i++){
            ids+=ids==""?chk[i].value:","+chk[i].value;
        }
        alert(ids);
        if(ids!=""){
            location.href="/exportPoi?ids="+ids;
        }else{
            alert("请选择要导出的数据");
        }
    }
    //表格
    layui.use('table', function(){
        var table = layui.table;

        table.render({
            elem: '#demo'
            ,  url: '/findPhoneCount'
            , title: '名单表'
            ,fit:true
            , cols: [
                [ //表头
                    {field:'id',title: 'ID',width:100,width: 140, fixed: 'left', unresize: true,templet:function(res) {
                            return "<input type='checkbox' name='id' value='"+res.id+"'>";
                        }},
                    {field:'phoneNumber',title:'账号', width: 140, edit: 'text'},
                    {field:'status',title:'状态',width:100,templet:function(res) {
                            var value=res.status==1?"被拉黑":"";
                            return value;
                        }}
                ]
            ]
            , id: 'id'
            , page: true
            , limits: [1, 5, 10]  //每页条数的选择项，默认：[10,20,30,40,50,60,70,80,90]。
            , limit: 5 //每页默认显示的数量
            , method: 'post'  //提交方式
        });

    });
    /*//第一个实例
    table.render({
        elem: '#demo',
        url: '/findPhoneCount', //数据接口
        title: '名单表',
        page: true, //开启分页
        cols: [
            [ //表头
                {field:'id',title: 'ID',width:100,templet:function(res) {
                        return "<input type='checkbox' name='id' value='"+res.id+"'>";
                    }},
                {field:'phoneNumber',title:'账号',width:100},
                {field:'status',title:'状态',width:100,templet:function(res) {
                        var value=res.status==1?"被拉黑":"";
                        return value;
                    }}
            ]
        ]
    });
    */

</script>
</html>