<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="shortcut icon" type="image/x-icon" href="http://www.lvmae.com/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/lvy-js/css/common.css">
    <link rel="stylesheet" type="text/css" href="/lvy-js/css/zzsc.css">
    <script src="lvy-js/jquery.min.js"></script>
    <script src="/lvy-js/js/push.js"></script>
    <script type="text/javascript" src="/lvy-js/js/jquery-3.2.1.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/lvy-js/js/hj.configCity.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/lvy-js/js/jquery.chooseCity-1.2.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/lvy-js/js/jquery.cookie.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/lvy-js/js/functions.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/lvy-js/js/jquery.plugins.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/lvy-js/js/kslide.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/lvy-js/js/config.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/lvy-js/js/zzsc.min.js" charset="UTF-8"></script>
</head>
<body>
<div class="wrap">
    <div class="logo icons-logo fl"><a href="http://www.lvmae.com/" title="上绿蚂蚁发货，说走就走">上绿蚂蚁发货，说走就走</a></div>
    <div class="icons-wuli fr" style="background-image:none;">
        <script type="text/javascript" src="http://www.lvmae.com/file/script/A47.js"></script>
        <a href="http://www.lvmae.com/extend/redirect.php?aid=70" target="_blank"><img src="http://www.lvmae.com/file/upload/201607/26/15-20-49-92-1.jpg" width="395" height="74" alt=""></a>
    </div>
</div>
<div class="nav">
    <div class="wrap">
        <ul id="title">
        </ul>
    </div>
</div>
</body>
<script type="text/javascript">
    $(function () {
        var html = '<li><a class="current" href="http://www.lvmae.com/">首页</a></li>';
        html += '<li><a href="http://www.lvmae.com/road/">物流专线</a></li>';
        html += '<li><a href="http://www.lvmae.com/road/deliver.html">在线发货</a></li>';
        html += '<li><a href="http://www.lvmae.com/seaport/">国际海运</a></li>';
        html += '<li><a href="http://www.lvmae.com/company/">物流公司</a></li>';
        html += '<li><a href="http://www.lvmae.com/news/">物流新闻</a></li>';
        html += '<li><a href="http://www.lvmae.com/bid/">物流招标</a></li>';
        html += '<li><a href="http://www.lvmae.com/goods/">在线购买</a></li>';
        $("#title").html(html);
    })
</script>
</html>